.Editor {
  display: flex;
  gap: 2px;
  margin-bottom: 40px;
}
.Editor > input {
  flex: 15;
  padding: 15px;
  border: 1px solid rgb(220, 220, 220);
  border-radius: 5px;
  font-size: 18px;
}

.Editor > input:focus {
  outline: 2px solid rgb(114, 156, 233);
}

.Editor > button {
  flex: 1;
  padding: 15px;
  border: 1px solid rgb(220, 220, 220);
  border-radius: 5px;
  cursor: pointer;
  background-color: rgb(114, 156, 233);
  color: rgb(220, 220, 220);
}
